<!-- This Jinja2 template retrieves the layout from layout.html -->
{% extends 'layout.html' %}

<!-- This fills in the  'block body'  section of layout.html -->
{% block body %}

<h1>Hello, {{name}}!</h1>
<ul class="list-group">
    {% if userQuotes: %}
        {% for quote in userQuotes: %}
        <li class="list-group-item">
            <div>
                <div style="float:left">
                    "{{quote.quote}}"<br>
                    <strong> - {{quote.source}}</strong>
                </div>
                <div style="float:right;">
                    <a href="editQuote/{{quote.id}}" class="btn btn-primary">Edit</a>
                    <a href="deleteQuote/{{quote.id}}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </li>
        {% endfor %}
    {% endif %}
</ul>

{% endblock %}